div
    h1 Inxmail
    div
        ul
            li
                a(class='button' href='/inxmail/eventtypes') Eventtypes
            li
                a(class='button' href='/inxmail/sendings') Sendings
            li
                a(class='button' href='/inxmail/relaysendings') Relay-Sendings
            li
                a(class='button' href='/inxmail/relaybounces') Relay-Bounces
            li
                a(class='button' href='/inxmail/blocklist') Blocklist
            li
                a(class='button' href='/inxmail/blacklist') Blacklist
div
