div
    h1 Inxmail
    div
        ul
            li
                a(class='button' href='/user/changeusername') Change username
            li
                a(class='button' href='/user/reassignrcroomstouser') Reassign rooms to user
div
